<header>
    <nav>
        <a href="/">EXPRESS SERVER EJS</a>
        <ul>
            <li><a href="/">Cargar</a></li>
            <li><a href="/productos">Ver</a></li>
        </ul>
    </nav>
</header>