<div>
    {{#each productLista}}
    <div >
        <img src="{{thumbnail}}" alt="Imagen de {{title}}">
        <div >
            <h4>{{title}}</h4>
            <p >Precio: ${{price}}</p>
        </div>
    </div>
    {{/each}}
</div>