<form action="/productos" method="POST">
    <div>
        <label for="title" >Nombre:</label>
        <input type="text" name="title"  required>
    </div>
    <div >
        <label for="price" >Precio:</label>
        <input type="text" name="price"  required>
    </div>
    <div >
        <label for="thumbnail" >Thumbnail:</label>
        <input type="text" name="thumbnail" required>
    </div>

    <button type="submit" >Agregar producto</button>
</form>